body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #EFEFF0;
  font-size: 1em;
  text-shadow: 1px 1px #4D5061;
  background-color: #56A3A6;
}

/*------NAVIGATION------*/

.navbar {
  position: fixed;
  width: 100%;
  font-weight: bold;
  text-align: right;
  text-shadow: none;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  padding: 2%;
}

li .nav-link {
  color: #EFEFF0;
  letter-spacing: 5px;
  text-decoration: none;
  padding: 1%;
  transition: color .3s ease-in-out;
}

li a:hover {
  color: rgba(255, 255, 255, 0.25);
}

/*------HOME------*/

.grid-container-circle {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: minmax(300px, auto);
  justify-content: center;
  padding-top: 6%;
}

.text-area {
  grid-column: 1 / span 4;
  grid-row: 1;
  z-index: 15;
  padding-left: 20%;
  margin: auto;
  font-size: 2em;
  text-align: center;
}

.text-area h1 {
  letter-spacing: 3px;
  color: rgba(255, 255, 255);
}

div .color-circle {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  border: 10px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

.color-circle-1 {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: #084C61;
}

.color-circle-2 {
  grid-column: 2 / span 2;
  grid-row: 1;
  z-index: 10;
  outline: 10px solid rgba(255, 255, 255, 0.25);
  background-color: #DB504A;
}

.color-circle-3 {
  grid-column: 3 / span 2;
  grid-row: 1;
  background-color: #E3B505;
}

#sprite-comp {
  grid-column: 3 / 4;
  grid-row: 3;
  width: 200px;
  height: 200px;
  z-index: 10;
  justify-self: end;
  display: block;
  background-image: url("../images/computer_rotate.png");
}

@keyframes sprite-4-steps-800 {
  100% {
    background-position: 800px;
  }
}

/*------ABOUT------*/

.grid-container-about {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-auto-rows: auto;
  max-width: 100%;
  grid-gap: 1em;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #56A3A6;
}

.about-header {
  grid-column: 2;
  grid-row: 1;
  font-size: 2em;
  letter-spacing: 10px;
}

.offset {
  float: right;
  margin-right: 20px;
  padding-left: 3%;
  border: 3px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
}

.profile-text {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  height: 450px;
  width: 450px;
  justify-self: center;
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  text-align: center;
  background-color: #9BC53D;
}

.profile-text ul {
  margin-right: 10%;
  list-style-type: none;
}

.profile-text img {
  height: 150px;
  width: auto;
  margin-top: 5px;
  border: 3px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

#redacted {
  text-decoration: line-through;
}

.sprite {
  width: 100px;
  height: 100px;
  z-index: 10;
  display: block;
  align-self: end;
}

.sprite-circle {
  display: none;
  z-index: 5;
  border: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
  line-height: 5px;
}

.sprite-text {
  height: 200px;
  width: 200px;
  z-index: 10;
  padding: 5%;
}

.sprite-text:hover {
  text-shadow: 1px 1px 10px #000;
}

/*-----------COFFEE STYLING-----------*/

#sprite-coffee {
  grid-column: 2 / 3;
  grid-row: 2;
  justify-self: end;
  background-image: url("../images/coffee_rotate.png");
}

#sprite-coffee:hover {
  animation: sprite-3-steps .5s steps(3) infinite;
}

#coffee-info {
  grid-column: 2 / 3;
  grid-row: 2;
  height: 150px;
  width: 150px;
  align-self: end;
  padding: 10%;
  transition: padding .5s;
  background-color: #8F2D56;
}

#coffee-info:hover {
  padding: 15%;
}

.long-color {
  color: #FE4A49;
}

/*-----------FILM-REEL STYLING-----------*/

#sprite-film {
  grid-column: 3 / 4;
  grid-row: 3;
  background-image: url("../images/film_reel_rotate.png");
}

#sprite-film:hover {
  animation: sprite-4-steps .5s steps(4) infinite;
}

#film-info {
  grid-column: 3 / 4;
  grid-row: 3;
  height: 175px;
  width: 175px;
  padding: 10%;
  transition: padding .5s;
  background-color: #084C61;
}

#film-info:hover {
  padding: 15%;
}

.creative-color {
  color: #73D2DE;
}

.expressive-color {
  color: #AF42AE;
}

/*-----------HARNESS STYLING-----------*/

#sprite-climb {
  grid-column: 4 / 5;
  grid-row: 3;
  justify-self: end;
  align-self: start;
  background-image: url("../images/harness_rotate.png");
}

#sprite-climb:hover {
  animation: sprite-3-steps .5s steps(3) infinite;
}

#climb-info {
  grid-column: 4 / 5;
  grid-row: 3;
  height: 150px;
  width: 150px;
  padding: 5%;
  transition: padding .5s;
  background-color: #E3B505;
}

#climb-info:hover {
  padding: 10%;
}

#climb-info .sprite-text {
  margin-top: 60px;
}

.challenge-color {
  color: #DF2935;
}

/*-----------RECORD STYLING-----------*/

#sprite-music {
  grid-column: 5 / 6;
  grid-row: 2;
  width: 150px;
  height: 150px;
  justify-self: end;
  background-image: url("../images/record_rotate_var.png");
}

#sprite-music:hover {
  animation: sprite-4-steps-600 .5s steps(4) infinite;
}

#music-info {
  grid-column: 5 / 6;
  grid-row: 2;
  height: 220px;
  width: 220px;
  align-self: end;
  transition: padding .5s;
  background-color: #DB504A;
}

#music-info .sprite-text {
  margin-left: 30px;
}

#music-info:hover {
  padding: 5%;
}

.unique-color {
  color: #FBB13C;
}

.interactive-color {
  color: #0090C1;
}

/*-----------SPRITE ANIMATIONS-----------*/

@keyframes sprite-3-steps {
  100% {
    background-position: 300px;
  }
}

@keyframes sprite-4-steps {
  100% {
    background-position: 400px;
  }
}

@keyframes sprite-4-steps-600 {
  100% {
    background-position: 600px;
  }
}

/*------CONTACT------*/

.grid-container-contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  height: 400px;
  max-width: 100%;
  grid-gap: 2em;
  padding-top: 5%;
  padding-bottom: 5%;
  text-shadow: 1px 1px #4D5061;
}

.row {
  overflow: hidden;
}

.col {
  float: left;
  width: 50%;
}

fieldset {
  grid-column: 1
  grid-row: 1 / 3;
  height: 300px;
  max-width: 100%;
  padding: 3%;
  margin-left: 5%;
  border: 5px solid rgba(255, 255, 255, 0.25);
  box-shadow: none;
  font-size: 1em;
  background-color: rgba(8, 76, 97, .5);
}

legend {
  letter-spacing: 5px;
  border: 5px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}

input {
  width: 200px;
  height: 20px;
}

textarea {
  width: 400px;
  height: 100px;
}

button {
  font-family: 'Roboto', sans-serif;
  color: #EFEFF0;
  padding: 10px;
  margin-top: 5%;
  font-size: 1em;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.personal-info {
 grid-column: 2;
 grid-row: 1;
 padding-right: 5%;
 text-align: right;
}

.previa-animation {
  grid-column: 2;
  grid-row: 1;
  height: 300px;
  width: 500px;
  align-self: end;
  background-image: url("../images/previa_rotate-2.png");
}

.previa-animation:hover {
  animation: sprite-previa .2s steps(2) infinite;
}

@keyframes sprite-previa {
  100% {
    background-position: 1000px;
  }
}

/*------CONTACT------*/

footer {
  height: 160px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
  background-color: #F55536;
}

footer p {
  padding: 3%;
}
